<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="plantopia.sungshin.plantopia">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".User.ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--푸시 알림 꺼-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/add_plant_images" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
        
        <service android:name=".FCM.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"></action>
            </intent-filter>
        </service>

        <service android:name=".FCM.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>
        </service>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Diray.WriteNewDiaryActivity"
            android:label="다이어리 쓰기" />
        <activity android:name=".InfoTab1Activity" />
        <activity android:name=".InfoTab2Activity" />
        <activity android:name=".InfoTab3Activity" />
        <activity android:name=".ProfileSettingActivity" />
        <activity
            android:name=".User.SignInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".User.SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".User.SignUpActivity2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".PlantInfoActivity" />
        <activity android:name=".AddPlantActivity" />
        <activity android:name=".ModifyPlantActivity" />
        <activity android:name=".Search.DetailActivity" />
        <activity android:name=".Diray.ShowDiaryActivity" />
        <activity android:name=".Diray.EditDiaryActivity" />
        <!--챗봇 연결-->
        <activity android:name=".ChatBot.Calathea"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ChatBot.Stuckyi"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ChatBot.Oroya"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ChatBot.Palm"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ChatBot.Nagi"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service android:name=".ChatBot.PersistentService"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <receiver android:name=".ChatBot.RestartService"
            android:enabled="true"
            android:exported="true"
            android:label="RestartService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="ACTION.RESTART.PersistentService" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>