<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="plantopia.sungshin.plantopia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".User.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WriteNewDiaryActivity"
            android:label="다이어리 쓰기" />
        <activity android:name=".InfoTab1Activity" />
        <activity android:name=".InfoTab2Activity" />
        <activity android:name=".InfoTab3Activity" />
        <activity android:name=".ProfileSettingActivity" />
        <activity
            android:name=".User.SignInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".User.SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".User.SignUpActivity2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".PlantChatActivity" />
        <activity android:name=".PlantInfoActivity" />
        <activity android:name=".AddPlantActivity" />
        <activity android:name=".ModifyPlantActivity" />
        <activity android:name=".DetailActivity" />
    </application>
</manifest>